@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    /* background-color: black; */
}

body {
    text-align: center;
    background: linear-gradient(135deg, #1c1c1c, #4b0082);
    background: url('https://www.transparenttextures.com/patterns/stardust.png'),
        linear-gradient(135deg, #1c1c1c, #4b0082);
    color: #fff;
    /* Cor de fundo da página */
    display: flex;
    /* Usa Flexbox para layout */
    flex-direction: column;
    /* Alinha os itens na vertical */
    align-items: center;
    /* Centraliza os itens horizontalmente */
    justify-content: center;
    /* Centraliza os itens verticalmente */
    height: 100vh;
    /* Preenche a altura total da viewport */
}

@keyframes stars {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://www.transparenttextures.com/patterns/stardust.png');
    opacity: 0.2;
    z-index: -1;
    animation: stars 100s linear infinite;
}

@keyframes fadeInSpace {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

section, .item-resultado {
    animation: fadeInSpace 0.5s ease-out;
}

/* Estiliza os títulos h1 */
h1 {
    font-family: 'Bebas Neue', verdana;
    font-size: 5.5rem;
    /* Tamanho da fonte */
    color: #fff;
    /* Cor do texto */
    text-align: center;
    /* Alinha o texto ao centro */
    letter-spacing: 0.4rem;
    /* Espaçamento entre letras */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Estiliza os títulos h2 */
h2 {
    display: flex;
    /* Usa Flexbox para layout */
    flex-direction: row;
    font-family: 'Bebas Neue', verdana;
    /* font-family: 'Orbitron', sans-serif; */
    font-size: 2rem;
    /* Alinha os itens na horizontal */
    align-items: center;
    /* Centraliza os itens horizontalmente */
    margin-bottom: 3rem;
    /* Espaçamento abaixo de cada seção */
    gap: 1rem;
    color: #66ec31;
    /* color: #23CE6B; */
    border-color: #222831;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Estiliza as seções da página */
section {
    display: flex;
    /* Usa Flexbox para layout */
    flex-direction: column;
    /* Alinha os itens na vertical */
    align-items: center;
    /* Centraliza os itens horizontalmente */
    margin-bottom: 3rem;
    /* Espaçamento abaixo de cada seção */
}

/* Estiliza os inputs dentro das seções */
section input {
    width: 30rem;
    /* Largura dos inputs */
    border: none;
    /* Remove a borda padrão */
    padding: 1rem;
    /* Espaçamento interno */
    border-radius: 1.5rem;
    /* Borda arredondada */
    margin-bottom: 1rem;
    /* Espaçamento abaixo dos inputs */
    color: #45474B;
    /* Cor do texto */
    font-size: 1rem;
    /* Tamanho da fonte */
    box-sizing: border-box;
    /* Inclui padding e border na largura total */
    outline: none;
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 0.8rem 1.2rem;
    /* Espaçamento interno do botão */
    border: none;
    /* Remove a borda padrão */
    border-radius: 1.5rem;
    /* Borda arredondada */
    background-color: #30475E;
    /* Cor de fundo do botão */
    color: #F5F7F8;
    /* Cor do texto do botão */
    font-size: 1rem;
    /* Tamanho da fonte */
    cursor: pointer;
    /* Muda o cursor para indicar que é clicável */
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease;
}

/* Adiciona efeito hover ao botão de pesquisa */
section button:hover {
    background-color: #23CE6B;
    box-shadow: 0 0 8px #23CE6B, 0 0 12px #23CE6B;
    /* Reduz a intensidade do brilho */
    transform: scale(1.02);
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem;
    /* Largura máxima da caixa de resultados */
    height: 46vh;
    /* Altura máxima da caixa de resultados */
    overflow-y: auto;
    /* Adiciona rolagem vertical se necessário */
    margin-top: 1rem;
    /* Espaçamento acima da caixa de resultados */
    padding: 1rem;
    /* Espaçamento interno */
    border-radius: 0.6rem;
    /* Borda arredondada */
}

/* Estiliza as caixas de item de resultado */
.item-resultado {
    background: linear-gradient(135deg, #1c1c1c, #2c2c2c);
    border-radius: 0.6rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8), 0 0 20px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left; /* Alinha o texto à esquerda dentro do item de resultado */
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    font-size: 1.5rem;
    color: #66ec31;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    margin-bottom: 0.5rem; /* Adiciona um espaço abaixo do título */
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: #ddd;
    margin: 0.5rem 0;
    line-height: 1.4; /* Melhora a legibilidade do texto */
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
    text-decoration: none;
    color: #66ec31;
}

.item-resultado a:hover {
    text-decoration: underline;
    color: #23CE6B;
}

/* Estiliza o rodapé da página */
footer {
    background-color: #F5F7F8;
    color: #45474B;
    text-align: center;
    padding: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 1rem;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }

    section input {
        width: 25rem;
        padding: 0.8rem;
    }

    .resultados-pesquisa {
        width: 40rem;
        height: 40vh;
    }

    .item-resultado h2 {
        font-size: 1.3rem;
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {
    h1 {
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
    }

    section input {
        width: 17rem;
    }

    section button {
        padding: 0.6rem 1rem;
        font-size: 0.9rem;
    }

    .resultados-pesquisa {
        width: 90%;
        height: 50vh;
    }

    .item-resultado h2 {
        font-size: 1.1rem;
    }

    
}

footer {
    background-color: #333; /* Cor de fundo escura */
    color: #f5f5f5; /* Cor do texto clara */
    text-align: center; /* Centraliza o texto */
    padding: 1rem; /* Espaçamento interno */
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 1rem;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra sutil */
    border-top: 2px solid #66ec31; /* Adiciona uma borda superior */
}

/* Adiciona um estilo aos links no rodapé */
footer a {
    color: #66ec31; /* Cor do link */
    text-decoration: none; /* Remove o sublinhado */
    font-weight: bold; /* Deixa o texto em negrito */
}

footer a:hover {
    text-decoration: underline; /* Adiciona o sublinhado ao passar o mouse */
    color: #23CE6B; /* Muda a cor ao passar o mouse */
}

/* Estilo para o texto do rodapé */
footer p {
    margin: 0; /* Remove a margem padrão */
}
